@()

@main("Divya") {
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="@routes.Assets.versioned("/images/favicon.png")"/></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">PORTFOLIO</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#"><i class="fa fa-search fa-lg"></i></a></li>
            </ul>

        </div>
    </nav>

    <div class="container-fluid" id="a">
        <div class="row">
            <div class="col-sm-4">
                <p id="b"><strong>YET ANOTHER SLIDE HTML THEME..!!</strong></p>
                <button class="btn-btn-info">Read More</button>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="height:200px; padding:60px;">
        <strong>
            <center><h1>ABOUT</h1></center>
        </strong>
        <p class="para-after-heading">
            Knoldus is a team of Passionate Technologists,
            focused on staying at the edge of the curve.
        </p>
    </div>

    <div class="container-fluid" id="d">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-offset-2">
                    <img class="img-responsive" src="@routes.Assets.versioned("/images/image3.jpg")">
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-2-offset col-md-9">
                    <h2>About our consulting</h2>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <h3><i class="fa fa-bar-chart fa-2x"></i>Boost your business</h3>
                            <p>Knoldus is a team of Passionate Technologists, focused on staying at the edge of the
                                curve. </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <h3><i class="fa fa-line-chart fa-2x"></i>Best business statistics</h3>
                            <p>Knoldus is a team of Passionate Technologists, focused on staying at the edge of the
                                curve. </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <h3><i class="fa fa-bar-chart fa-2x " aria-hidden="true"></i>24/7 online support</h3>
                            <p>Knoldus is a team of Passionate Technologists, focused on staying at the edge of the
                                curve. </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="container-fluid" style="height:200px; padding:60px;">
        <strong>
            <center><h1>SERVICES</h1></center>
        </strong>
        <p class="para-after-heading">
            Some of the services that we provide..
        </p>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="background-color:#F8F9F9;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="padding: 20px;">
                            <i class="fa fa-briefcase fa-2x"></i>
                            <h3>Financial Planning</h3>
                            <p>This is reagarding financial planning..................</p>
                        </div>
                        <div class="row" style="padding: 20px;">
                            <i class="fa fa-bar-chart fa-2x"></i>
                            <h3>Business Planning</h3>
                            <p>This is reagarding business planning...............</p>
                        </div>
                        <div class="row" style="padding: 20px;">
                            <i class="fa fa-trophy fa-2x"></i>
                            <h3>Work & Redundancy</h3>
                            <p>This is reagarding work & redundnacy.................</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row" style="padding: 20px;">
                            <i class="fa fa-bullhorn fa-2x"></i>
                            <h3>Mortage Advisor</h3>
                            <p>This is reagarding mortage advisor....................</p>
                        </div>
                        <div class="row" style="padding: 20px;">
                            <i class="fa fa-thumbs-o-up fa-2x"></i>
                            <h3>Retirement Planning</h3>
                            <p>This is reagarding retirement planning................</p>
                        </div>
                        <div class="row" style="padding: 20px;">
                            <i class="fa fa-money fa-2x"></i>
                            <h3>Saving & Investment</h3>
                            <p>This is reagarding saving & investment..............</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6" id="services" style="padding:100px 10px;">
                <h2>Our Services</h2>
                <p>We love to build Scalable, Performant, Concurrent systems with Functional Programming to
                    meet the needs of the business. Our big data solutions have won accolades in domains like
                    Social media analytics, Finance, Healthcare, Gaming, Shipping and Media. Our proactive
                    thinking, led by the mission of Authority enables us to deliver Business Innovation
                    & Acceleration to help you succeed.</p>
                <button class="btn-btn-info">Learn</button>
            </div>

        </div>
    </div>

    <div class="container-fluid" id="book">
        <div class="row" style="padding: 20px;">
            <div class="col-md-8">
                <h3>Need to <a>Consult with us</a>? Book an appointment</h3>
                <p>............................................................................................</p>
            </div>
            <div class="col-md-4">
                <button class="btn-btn-info">book now</button>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="height:200px; padding:60px;">
        <strong>
            <center><h1>PORTFOLIO</h1></center>
        </strong>
        <p>
        <center style="font-size:20px;">This is our image gallery..!</center>
        </p>
    </div>

    <div class="container-fluid" style="margin:0px;">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3" style="padding:0px;">
                    <img src="@routes.Assets.versioned("/images/imagep8.jpg")"  style="width=100%"/>
                </div>
                <div class="col-md-3" style="padding:0px;">
                    <img src="@routes.Assets.versioned("/images/imagep10.jpg")"/>
                </div>
                <div class="col-md-3" style="padding:0px;">
                    <img src="@routes.Assets.versioned("/images/imagep8.jpg")"/>
                </div>
                <div class="col-md-3" style="padding:0px;">
                    <img src="@routes.Assets.versioned("/images/imagep10.jpg")"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3" style="padding:0px;">
                    <img src="@routes.Assets.versioned("/images/imagep10.jpg")">
                </div>
                <div class="col-md-3" style="padding:0px;">
                    <img src="@routes.Assets.versioned("/images/imagep8.jpg")">
                </div>
                <div class="col-md-3" style="padding:0px;">
                    <img src="@routes.Assets.versioned("/images/imagep10.jpg")">
                </div>
                <div class="col-md-3" style="padding:0px;">
                    <img src="@routes.Assets.versioned("/images/imagep8.jpg")">
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="height:200px; padding:60px;">
        <strong>
            <center><h1>GET IN TOUCH</h1></center>
        </strong>
        <p>
        <center style="font-size:20px;">You can ask query by filling the form.!</center>
        </p>
    </div>

    <div class="container-fluid">
        <form>
            <div class="row" style="padding: 10px;">
                <div class="form-inline">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" placeholder="Your Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" placeholder="Subject">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 20px;">
                <div class="form-group">
                    <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="row">
                <center>
                    <button class="btn btn-default" style="align:center;">Send Now</button>
                </center>
            </div>
        </form>
    </div>
</div>
}
